<p-panel [showHeader]="false" class="fondo-footer" styleClass="footer ">
    <div class="grid p-0">
        <div class="col-3 py-0 my-0">
            <img src="assets/images/gallery/logoSinFondo.png" alt="Logo" style="height: 150px; width: 150px; margin-right: 10px;">
        </div>
        <div class="col-3">
            <i class="pi pi-map-marker"> Dirección</i>
            <p class="font-semibold"> Cl. 22 Nte. #19 - 10</p>
            <p>Quindío - Colombia</p>
        </div>
        <div class="col-3">
            <i class="pi pi-phone"> (57) 301 6148500</i>
        </div>
        <div class="col-3">
            <p class="mt-0">Síguenos</p>
            <a href="https://www.instagram.com/vitaleconsciente/" class="mr-2">
                <i class="pi pi-instagram icon-footer" style="font-size: 30px"> </i>
            </a>
            <a href="https://www.facebook.com/VitaleComercioConsciente/">
                <i class="pi pi-facebook icon-footer" style="font-size: 30px"></i>
            </a>
        </div>
    </div>
    <div class="text-center flex align-items-center justify-content-center m-0">
        <p>© 2025 Vitale Comercio Consciente. Todos los derechos reservados.</p>
    </div>
</p-panel>
