<p-panel [showHeader]="false" class="fondo-footer" styleClass="footer ">
    <div class="grid pb-0">
        <div class="col-3">
            <img src="assets/images/logo.png" alt="Logo" style="height: 100px; margin-right: 10px;">
        </div>
        <div class="col-3">
            <i class="pi pi-map-marker"> Dirección</i>
            <p class="font-semibold"> Cl. 22 Nte. #19 - 10</p>
            <p>Quindío - Colombia</p>
        </div>
        <div class="col-3">
            <i class="pi pi-map-marker"> (57) 301 6148500</i>
        </div>
        <div class="col-3">
            <p class="mt-0">Síguenos</p>
            <a href="https://www.instagram.com/vitaleconsciente/" class="mr-2">
                <i class="pi pi-instagram icon-como-comprar" style="font-size: 30px"> </i>
            </a>
            <a href="https://www.facebook.com/VitaleComercioConsciente/">
                <i class="pi pi-facebook icon-como-comprar" style="font-size: 30px"></i>
            </a>
        </div>
    </div>
</p-panel>