
    <div class="grid">
        <div class="col-offset-2 col-8">
            <div class="col-offset-1 flex align-items-start text-50 menu-header">
                <p-menubar [model]="items" class="menu-header"></p-menubar>
            </div>
            <div class="col-12 flex justify-content-center" style="width: 100%; height: 800px;">
                <app-galeria></app-galeria>
            </div>
    
            <div class="col-12 " style="height: 700px;">
                <h1 class="col-12 flex flex-wrap justify-content-center align-items-center text-3xl font-semibold">
                    <p class=" text-5xl text-green-500" style="margin-right: 10px;">¿Qué</p>
                    <p class="text-5xl">hacemos?</p>
                </h1>
                <div class="col-offset-3 col-6" >
                    <p class="text-3xl font-medium text-center">
                        Comercializamos alimentos orgánicos ya través del fomento de la producción orgánica le apostamos a
                        mejorar la calidad de vida una alimentación sana, al cuidado del medio ambiente y al futuro sostenible
                    </p>
                </div>
            </div>
        </div>
        
    </div>
