<div class="grid custom-text">
    <div class="col-offset-2 col-8 pb-0">
        <div class="flex justify-content-center align-items-start text-50 menu-header ">
            <a href="/" style="height: 100px;">
                <img src="assets/images/gallery/logoSinFondo.png" alt="Logo" style="height: 100px; margin-right: 10px;">
            </a>
            <p-menubar [model]="items" class="mt-4"></p-menubar>
        </div>

        <div id="galeria" class="col-12 flex justify-content-center" style="width: 100%; height: 800px;">
            <app-galeria></app-galeria>
        </div>
        <div id="que-hacemos " class="col-12">
            <app-que-hacemos></app-que-hacemos>
        </div>
        <div id="canales-distribucion" class="col-12 mt-7">
            <app-canales-distribucion></app-canales-distribucion>
        </div>
        <div id="pedido" class="col-12 my-7">
            <app-pedido></app-pedido>
        </div>
        <div id="footer" class="col-12 pb-0">
            <app-footer></app-footer>
        </div>
    </div>
</div>
<div class="whatsapp-button-container p-0">
    <p-button icon="pi pi-whatsapp" pTooltip="¡HAZ TU PEDIDO YA!" tooltipPosition="left" class="whatsapp-button" (click)="abrirWhatsApp()">
    </p-button>
</div>