<h1 class="col-12 flex flex-wrap justify-content-center align-items-center text-2xl font-semibold">
    <p class=" text-5xl texto-verde-vitale" style="margin-right: 10px;">¿Qué</p>
    <p class="text-5xl">hacemos?</p>
</h1>
<div class="col-12">
    <p class="custom-text">
    <p class="custom-text">
        <span class="highlight-orange">Comercializamos alimentos orgánicos y,</span>
        <span class="texto-verde-vitale"> a través del fomento de la producción orgánica, apostamos por mejorar la
            calidad de vida con una alimentación sana, cuidando el medio ambiente y promoviendo un futuro
            sostenible.</span>
    </p>
</div>

<div class="col-12 grid flex text-xl">
    <div class="col-3">
        <i class="fas fa-carrot fa-2x" style="color: var(--verde-claro-vitale);"></i>
        <p>Verduras, hortalizas
            y aromáticas</p>
    </div>
    <div class="col-3">
        <i class="fas fa-lemon fa-2x" style="color: var(--verde-claro-vitale);"></i>
        <p>Frutas</p>
    </div>
    <div class="col-3">
        <i class="fas fa-egg fa-2x" style="color: var(--verde-claro-vitale);"></i>
        <p>Pollo y huevos</p>
    </div>
    <div class="col-3">
        <i class="fas fa-bottle-droplet fa-2x" style="color: var(--verde-claro-vitale);"></i>
        <p>Salsas, conservas y aderezos</p>
    </div>
    <div class="col-3">
        <i class="fas fa-cheese fa-2x" style="color: var(--verde-claro-vitale);"></i>
        <p>Lácteos, bebidas y licores</p>
    </div>
    <div class="col-3">
        <i class="fas fa-bread-slice fa-2x" style="color: var(--verde-claro-vitale);"></i>
        <p>Pan, arepas, galletas y pastas</p>
    </div>
    <div class="col-3">
        <i class="fas fa-mug-hot fa-2x" style="color: var(--verde-claro-vitale);"></i>
        <p>Abarrotes, Café, Té y Chocolates</p>
    </div>
    <div class="col-3">
        <i class="fas fa-jar-wheat fa-2x" style="color: var(--verde-claro-vitale);"></i>
        <p>Granos, cereales y harinas</p>
    </div>
    <div class="col-3">
        <i class="fas fa-leaf fa-2x" style="color: var(--verde-claro-vitale);"></i>
        <p>Vegetarianos, veganos</p>
    </div>
    <div class="col-3">
        <i class="fas fa-cubes-stacked fa-2x" style="color: var(--verde-claro-vitale);"></i>
        <p>Miel, azúcar y edulcorantes </p>
    </div>
    <div class="col-3">
        <i class="fas fa-toilet-paper fa-2x" style="color: var(--verde-claro-vitale);"></i>
        <p>Recetarios, aseo y hogar</p>
    </div>
    <div class="col-3">
        <i class="fas fa-rocket fa-2x" style="color: var(--verde-claro-vitale);"></i>
        <p>Juguetes</p>
    </div>
</div>