<div class="grid">
    <h1 class="col-12 flex flex-wrap justify-content-center align-items-center text-2xl font-semibold">
        <p class="text-5xl">Canales de distribución</p>
    </h1>
    <div class="md:col-12 xl:col-6">
        <img src="assets/images/gallery/vitaleCanasto.png" alt="canasto" style="height: 400px; width: 400px; margin-right: 10px;">
        <p class="mt-0 morado-vitale">Canal minorista</p>
        <p class="texto-verde-vitale text-2xl"> Atención al consumidor final y familias</p>
    </div>
    <div class="md:col-12 xl:col-6">
        <img src="assets/images/gallery/vitaleBodega.png" alt="canasto" style="height: 400px; width: 400px; margin-right: 10px;">
        <p class="mt-0 texto-cafe-vitale">Canal mayorista</p>
        <p class="texto-verde-vitale text-2xl"> Atención a empresas: Tiendas especializadas, procesadores, HORECA, etc.</p>
    </div>
</div>
