<h1 class="col-12 flex flex-wrap justify-content-center align-items-center text-2xl font-semibold">
    <p class=" text-5xl texto-verde-vitale" style="margin-right: 10px;">¿Cómo hacer tu pedido</p>
    <p class="text-5xl">en Vitale?</p>
</h1>

<div class="col-12 grid">
    <div class="col-2">
        <i class="pi pi-cart-minus icon-como-comprar" style="font-size: 50px"></i>
        <p class="text-base">Ingresa a nuestra Tienda Online o whatsApp</p>
    </div>
    <div class="col-1">
        <i class="pi pi-arrow-right icon-como-comprar" style="font-size: 50px"></i>
    </div>
    <div class="col-2">
        <i class="pi pi-shop icon-como-comprar" style="font-size: 50px"></i>
        <p class="text-base"> Realiza tu pedido hasta el día Jueves a las 5PM</p>
    </div>
    <div class="col-1">
        <i class="pi pi-arrow-right icon-como-comprar" style="font-size: 50px"></i>
    </div>
    <div class="col-2">
        <i class="pi pi-calendar-clock icon-como-comprar" style="font-size: 50px"></i>
        <p class="text-base"> Nuestras entregas son una vez a la semana los días VIERNES</p>
    </div>
    <div class="col-1">
        <i class="pi pi-arrow-right icon-como-comprar" style="font-size: 50px"></i>
    </div>
    <div class="col-3">
        <i class="pi pi-calendar-clock icon-como-comprar" style="font-size: 50px"></i>
        <p class="text-base"> Entregamos en tu casa con un costo de domicilio adicional o
            podrás recoger en Vitale sin necesidad de monto mínimo</p>
    </div>

</div>